{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div style="text-align: center; margin-top: 7%;" class="container">
    <form action="{% url 'listagem_usuarios' %}" method="post">
        {% csrf_token %}
        <h1>Cadastro de Usuários</h1>
        <div style="text-align: center;">
            <div class="col-auto">
                <label class="col-form-label">Nome</label>
            </div>
            <div style="display: flex;justify-content: center;" class="col-auto">
                <input name="nome" type="text" style="width: 35%;" class="form-control">
            </div>
        </div>
        <div style="text-align: center;">
            <div class="col-auto">
                <label class="col-form-label">Idade</label>
            </div>
            <div style="display: flex;justify-content: center;" class="col-auto">
                <input name="idade" type="text" style="width: 35%;" class="form-control">
            </div>
        </div>
        <button style="margin-top: 15px;" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}